
<h1 style="margin: 0">Register</h1>
<form>
    <label for="name">First Name:</label><br />
    <input type="text" name="name" [(ngModel)]="input.name" /><br />
    
    <label for="email">Email:</label><br />
    <input type="email" name="email" [(ngModel)]="input.email" /><br />
    <label for="password">Password:</label><br />
    <input type="password" name="password" [(ngModel)]="input.password" /><br />
    <label for="age">Age:</label><br />
    <input type="text" name="age" [(ngModel)]="input.age" /><br />
    <label for="address">Address:</label><br />
    <input type="text" name="address" [(ngModel)]="input.address" /><br />
    <button type="button" (click)="register()">Register</button>
</form>
<h2 >{{status}}</h2>
<p>
    <a [routerLink]="['/login']">Login</a>
</p>

<div>

</div>