<div id="landing">
  <div id="landing-text">
  
    <div id="landing-input-inner">
      <h1>Train between stations</h1>
      <input type="text" name="" id="input" placeholder="From" [(ngModel)]='from'>
      <input type="text" name="" id="input" placeholder="To" [(ngModel)]='to'>
      <input type="date" name="bday" [(ngModel)]='date'>
      <input type="button" class="btn" id='view-work' value='Search' 
       (click)='getresult()' >
    </div>
  </div>
  <div id="landing-image"></div>
</div>